%p
  Your carbon emissions are shown below.

#carbonCalculator.inactive
  .airportEntry
    = label_tag 'flight_co2_calculation[from_airport]', 'Origin', :id => "originLabel"
    = text_field_tag "flight_co2_calculation[from_airport]", @origin_airport.display
  .airportEntry
    = label_tag 'flight_co2_calculation[from_airport]', 'Destination', :id => "destinationLabel"
    = text_field_tag "flight_co2_calculation[to_airport]", @destination_airport.display
  #results
    %p#stats
      My flight covered
      %span#distance= "#{"%.0f" % @distance} Km"
      and produced
      %span#mass= "#{"%.3f" % (@data_item.co2_value.to_f/1000)} tonnes " 
      %small of carbon dioxide (CO2)
    %p#recovery
      It would take
      %span#area 
        = "#{"%.1f" % ((@data_item.co2_value.to_f/1000)*20)} KM"
        %sup 2
      of rainforest one year to absorb this
      
  = link_to "Start Over Enter Another Flight", root_path, :id => "submitButton"