%p
  Your personal share of your flight's carbon emissions are shown below.

#carbonCalculator.inactive
  .airportEntry
    #originLabel Origin
    #flight_co2_calculation_from_airport
      = @origin_airport.display
  .airportEntry
    #destinationLabel Destination
    #flight_co2_calculation_to_airport
      = @destination_airport.display
  #results
    %p#stats
      My flight covered
      %span#distance= "#{"%.0f" % @distance} Km"
      and produced
      %span#mass= "#{"%.3f" % (@data_item.co2_value.to_f/1000)} tonnes " 
      %small of carbon dioxide (CO2)
    %p#recovery
      It would take
      %span#area 
        = "#{"%.1f" % ((@data_item.co2_value.to_f/1000)*20)} KM<sup>2</sup>"
      of rainforest one year to absorb this
      
  = link_to "Enter another flight", root_path, :id => "submitButton"
  
  
  #powered_by
    = link_to image_tag("/images/amee.png", :alt => "powered by AMEE"), "http://amee.cc"
