#about-calculator
  = link_to "About", about_path

%p
  Your personal share of your flight's carbon emissions are shown below.

#carbonCalculator.inactive
  .airportEntry
    #originLabel Origin
    #flight_co2_calculation_from_airport
      = @origin_airport.display
  .airportEntry
    #destinationLabel Destination
    #flight_co2_calculation_to_airport
      = @destination_airport.display
  #results
    %p#stats
      - unless @return_flight
        My flight covered
      - else
        My flights covered
      %span#distance= "#{"%.0f" % @distance} Km"
      and produced
      %span#mass= "#{"%.3f" % (@item.total_amount.to_f/1000)} tonnes " 
      %small of CO2 per person
    %p#recovery
      It would take
      %span#area 
        = "#{"%.3f" % (@item.total_amount.to_f/1000)} HA" 
      of rainforest one year to absorb this
      
  = link_to "Enter another flight", root_path, :id => "submitButton"
  
  
