- form_tag flight_co2_calculations_path do
  = label_tag "From Airport"
  = text_field_tag "flight_co2_calculation[from_airport]", "", :style => "width: 250px"
  = label_tag "To Airport"
  = text_field_tag "flight_co2_calculation[to_airport]", "", :style => "width: 250px"
  = check_box_tag "flight_co2_calculation[return]"