!!! Strict
%html{html_attrs}
  
  %head
    %title Carbon Calculator
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "all_css"
    /[if IE]
      %style{:type => "text/css"}
        @import url(/stylesheets/ie.css);
      %script{:src => "/javascripts/iepngfix_tilebg.js", :type => "text/javascript"}
    = yield(:head)
  
  %body
    
    #page
      
      %h1 Carbon Calculator
      = yield
      #powered_by
        = link_to image_tag("/images/amee.png", :alt => "powered by AMEE"), "http://amee.cc", :target => "_blank"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/mootools/1.2.2/mootools-yui-compressed.js"}
    = javascript_include_tag "all_js-min"
    
    

    
    