!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "autocomplete", 'application'
    = yield(:head)
  
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield
      
    = javascript_include_tag "mootools-1.2.2-core-nc", "mootools-1.2.2.1-more-dev", "clientcide.compressed", "application"
